.ModalAgregar {
    display: none;
    width: 659px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;

    &-Cabecera {
        background-color: white;
        padding-left:0;
        padding-right: 0;
        justify-content: space-between;

        h2 {
            font-size: 18px;
        }
    }

    &-BotonCerrar {
        cursor: pointer;
        font-size: 18px;
    }

    &-Formulario {
        display: grid;
        grid-gap: 25px;
        
        div {
            display: grid;
            grid-template-columns: repeat(2, 296px);
            grid-gap:27px;
        }

        input {
            font-size: 18px;
            width: 296px;
            height: 55px;
            padding: 10px;
        }

        input:focus, textarea:focus {
            border: 1px solid skyblue;
        }

        textarea {
            font-size: 18px;
            font-family: Roboto;
            width: 619px;
            height: 100px;
            padding: 10px;
        }
        
        &-Botones {
            margin-bottom: 25px;

            button {
                font-size: 14px;
                width: 129px;
                height: 41px;
            }

            div {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}