@import "./reset";

* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: Roboto;
}

main {
    margin-top: 10px;
}

article {
    width: 1085px;
    margin: 0 auto;
}

header {
    height: 74px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 12px;
    cursor: pointer;
    display: none;
}

p:hover {
    color: white;
}

section {
    height: 531px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    cursor: pointer;
    background-color: #C4C4C4;
    font-size: 18px;
    width: 244px;
    height: 67px;
}

button:hover {
    background-color: black;
    color: white;
}